html,
body {
    background-color: rgb(78, 78, 78);
    height: 100%;
    overflow-x: hidden;
    margin: 0px;
}
#icone-whatsapp{
    position:fixed;
    z-index: 9999;
    font-size:15vw;
    left:83%;
    top:85%;
    
    
    border:0px solid black;
    color: rgb(0, 245, 0);
}

header {
    position: fixed;
    z-index: 9999;
    top: 0vw;
    border: 0px solid yellow;
    width: 100vw;
    height: 23vw;

    background-color: black;
}

#img-logo {
    width: 13vw;
    position: relative;
    top: 3vw;
    left: 5vw;
    float: left;
}

#header-assistencia-tecnica {
    position: relative;
    font-family: "Montserrat", Sans-serif;
    color: white;
    left: 8.5vw;
    top: 5vw;
    font-size: 5vw;

}


#header-globotec {
    font-family: "Montserrat", Sans-serif;
    font-size: 7vw;

    position: relative;
    top: 4vw;
    color: rgb(161, 161, 209);
    left: 8vw;
}

#icone-humburguer {
    color: white;
    font-size: 8vw;
    position: absolute;
    right: 4vw;
    top: 5vw;
    left: 85vw;
}

main {
    position: relative;
    top: 20vw;
    overflow: hidden;
    width: 100vw;
    height: 730vw;
    border: 0px solid yellow;


}

#div-fundo-escurecedor {
    width: 100vw;
    height: 180vw;
    border: 0px solid yellow;
    position: absolute;
    top: 0vw;

    opacity: 0.6;
    z-index: 2;
    background-image: linear-gradient(to bottom, black, black, black, black, black, black, black, black, black, black, rgb(3, 3, 3), black, black, black, black, black, black, black);
    ;
}

#video-placa {
    width: 230vw;
    height: 180vw;
    position: absolute;
    top: 0vw;
    left: -83vw;
    z-index: 0;
    border: 0px solid yellow
}

#div-esconde-video {
    position: absolute;
    width: 180vw;
    height: 180vw;
    overflow: hidden;
}

h1 {
    position: relative;
    left: 4vw;
    top: 20vw;
    z-index: 3;
    width: 90vw;
    text-align: center;
    font-family: "Montserrat", Sans-serif;
    color: white;
    font-size: 8vw;
}

#orcamento-rapido {
    border: 0px solid yellow;
    font-family: "Montserrat", Sans-serif;
    color: white;
    font-weight: 300;
    font-size: 6vw;
    line-height: 10vw;
    text-align: center;
    width: 80vw;
    position: relative;
    top: 29vw;
    left: 9vw;
    z-index: 3;
    hyphens: auto;
}

#button-fale-conosco {
    z-index: 3;
    font-family: "Montserrat", Sans-serif;
    font-size: 6vw;
    color: white;
    border-radius: 1.5vw;
    text-shadow: 0 0 5px #fff;
    position: relative;
    border: 0px;
    background-color: rgb(114, 158, 252);
    left: 19vw;
    top: 45vw;
    width: 60vw;
    height: 15vw;
}

#title-nossos-servicos {
    font-family: "Montserrat", Sans-serif;
    font-size: 12vw;
    font-weight: 400;
    position: relative;
    top: 130vw;
    left: 4vw;
    border: 0vw solid black;
    color: white
}


.card-servicos {
    width: 80vw;
    background-color: black;
    border-radius: 2vw;

    position: relative;
    margin-top: 20vw;
    ;
    left: 10vw;
    top: 130vw;
    height: 95vw;
    border: 0px solid rgb(219, 219, 219);

}

#img-servico-1 {
    width: 50vw;

    position: relative;
    left: 14vw;
    top: 3vw;
    border: 0px solid rgb(0, 179, 140);
}

#img-servico-2 {
    width: 50vw;

    position: relative;
    left: 14vw;
    top: 3vw;
    border: 0px solid rgb(0, 179, 140);
}

#img-servico-3{
    width:15vw;
    position: relative;
    left: 34vw;
    top: 3vw;
    border: 0px solid rgb(0, 179, 140);
}

h3 {
    font-family: "Montserrat", Sans-serif;
    font-size: 8vw;
    font-weight: 500;
    position: relative;
    color: white;
    left: 7.5vw;
}

.descricao-servicos {
    line-height: 10vw;
    ;
    font-family: "Montserrat", Sans-serif;
    font-size: 6vw;
    font-weight: 100;
    position: relative;
    word-spacing: -1px;
    left: 5vw;
    width: 70vw;
    text-align: justify;
    hyphens: auto;
    color: white
}


#card-2-serviços {
    height: 150vw;
}

#card-3-serviços{
    height:160vw;
}