html {
    height: 100%;
    margin: 0px;
}

body {
    height: 100%;
    margin: 0px;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #6185ac, #c4defc, #ffffff);
    overflow-x: hidden;
    overflow-y: hidden;
}


#div-logo {}

#img-globo {
    width: 11vw;
    position: relative;
    left: -3.9vw;
    float: right;

    top: 2vh;
    border: 0px solid black;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-size: calc(2.9vw + 1.9vh);
    color: rgb(3, 3, 83);
    position: relative;
    left: 31.8vw;
    top: -4vh;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #fff
}

#telefone {
    position: relative;
    font-family: "Oswald", sans-serif;
    font-size: 2.8vw;
    font-weight: 700;
    left: 77.5vw;
    top: -14vh;

    text-shadow:
        0 0 15px #fff,
        0 0 20px #fff
}



#Desde2001 {
    position: relative;
    font-family: "Oswald", sans-serif;
    font-size: 2vw;
    left: 86.65vw;
    top: 21.5vh;
    text-shadow:
        0 0 5px #fff,
        0 0 0px #fff,
        0 0 15px #fff,
        0 0 20px #fff
}

main {
    border: 0px solid black;
    position: relative;
    top: -60vh;
    height: 31vw;

}

#whatsapp1 {
    position: relative;
    top: 32vh;
    left: 6vw;
    font-family: "Oswald", sans-serif;
    font-size: 2.9vw;
    color: rgb(1, 1, 26);
    font-weight: 700;
    text-shadow:

        0 0 15px #ffffff,
        0 0 20px #fff;
    border: 0px solid black;

}


#icone-whatsapp1 {
    font-size: 2,3vw;

    color: rgb(0, 0, 0);
    position: relative;
    left:0.5vw;
    top: -2.3vh;
}
#carro {
    width: 30vh;
    position: relative;
    left: 5vw;
    top: 45vh;
}

#texto-sistema-leva-e-traz{
    position:relative;
    top:49vh;
    left:-11.5vw;
    font-family: "Oswald", sans-serif;
    font-size: calc(1.3vw + 1.5vh);
    color:white;
    text-decoration: underline;
    letter-spacing: 0.1vw;
    text-shadow: 
    -2px -2px 0 black,  
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black;
}

#div-leva-e-traz {
    font-family: "Oswald", sans-serif;
    font-size: 2vw;
    position: relative;
    border: 0px solid black;
    left: 7vw;
    font-weight: 500;
    width: 10vw;
    text-align: center;
    color: #fdfdff;
    text-shadow:

        0 0 15px #fff,
        0 0 20px #fff;
}

#fundo-endereco {
    position: relative;
    top: 3.5vh;
    height: 90%;
    border: 0px solid black;
}

#fundocomtv {
    position: relative;
    top: 0vh;
    width: 60vw;

    left: 21.46vw;

}

#endereco-1 {
    position: relative;
    top: 90%;
    left: 39.8vw;
    z-index: 9999;
    font-family: "Oswald", sans-serif;
    text-shadow: 0 0 10px #6354ee;
    font-size: calc(1vw + 1.6vh);
    color: rgb(206, 204, 202);
    width: calc(20vw + 15vh);
    font-weight: 400;
    text-align: center;
}

#div-laudos-tecnicos {
    text-align: center;
    position: relative;
    left: 80vw;
    top: -65vh;
    border: 0px solid black;
    font-weight: 700;
    font-size: 2.8vw;
    width: 10vw;
    background-color: rgb(255, 255, 255);
    color: rgb(73, 126, 241);

    font-family: "Oswald", sans-serif;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#lupa {
    width: 5vw;
    position: relative;
    left: 74vw;
    top: -77vh;
    border: 0px solid black;
}

footer {
    position: relative;
    top: -32vh;
    left: 5vw;
    background-color: rgb(209, 209, 209);
    border: 0px solid black;
    width: 90vw;
    height: 38.4%;
}

.img-cards {
    position: relative;
    top: 0.5vw;

}

.cards {

    position: relative;
    float: left;
    left: 0vw;
    top: 0.4vw;
    width: 16.3vw;
    height: 36.5vh;
    margin-left: 1vw;
    text-align: center;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

h3 {
    font-family: "Oswald", sans-serif;
    font-size: calc(1vh + 0.7vw);
    position: relative;
    top: -1vw;
}

.card-descricao {
    text-align: justify;
    hyphens: auto;
    font-size: calc(0.8vw + 0.974vh);
    font-family: "Oswald", sans-serif;
    width: 15.5vw;
    position: relative;
    left: 0.4vw;
    top: -2.2vw;
}

#card1 {
}

#card2 {
    left: 0.7vw;
}

#card3 {
    left: 1.3vw;
}

#card4 {
    left: 1.8vw;
}

#card5 {
    left: 2.5vw;
}

#card-img1 {
    width: 7vw;
}

#card-img2 {
    width: 2vw;
    height: 5vw;
}

#card-img3 {
    width: 6.5vw;
}

#card-img4 {
    width: 8vw;
}

#h3-1 {
    position: relative;
    top: -3%;
    font-size:  calc(0.7vw + 1.5vh);

}

#h3-2 {}

#h3-3 {}

#h3-4 {
    
}


#card-descricao-1 {
    position: relative;
    top: -10%;
    font-size: calc(0.8vw + 0.974vh);
}

#card-descricao-2 {}

#card-descricao-3 {}

#card-descricao-4 {
   
}