html{
    height:100%;
    margin:0px;
}
body {
    height:100%;
    margin: 0px;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #6185ac, #c4defc, #ffffff);
    overflow-x: hidden;
    overflow-y: hidden;
}


#div-logo {}

#img-globo {
    width: 5vw;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    position: relative;
    left: 47.5vw;
    top:03vh;


}

h1 {
    font-family: "Oswald", sans-serif;
    font-size: 2.8vw;
    color: rgb(3, 3, 83);
    position: relative;
    left: 34.8vw;
    top:0vh;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #fff
}

#telefone {
    position:relative;
    font-family: "Oswald", sans-serif;
    font-size: 2.5vw;
    font-weight: 700;
    left: 39vw;
    top: -4vh;
    
    text-shadow:
        0 0 15px #fff,
        0 0 20px #fff
}

.message-bubble {
    background-color: #f0f0f0;
    border-radius: 1.2vw;
    padding: 1vw;
    box-shadow: 5px 5px 10px rgba(1, 1, 0, 0.5);

    position: relative;
    width: 6vw;
    /* Ajuste a largura conforme necessário */
    top: -17vh;
    left: 80vw;
}

.message-bubble::before {
    content: "";
    position: absolute;
    bottom: 1.5vw;
    /* Ajuste a posição da ponta */
    left: 6.89vw;
    /* Ajuste a posição da ponta */
    transform: rotate(-90deg);
    border-width: 1.4vw 1.4vw 0 1.4vw;
    border-style: solid;
    border-color: #f0f0f0 transparent transparent transparent;
}

#duvidas {
    font-family: "Oswald", sans-serif;
    font-size: 1.9vw;
    color: blueviolet;
    text-decoration: underline;
}

#div-balao2 {
    position: relative;
    left: 89.5vw;

    top: -25vh;
    background-color: rgb(90, 49, 128);
    width: 4.7vw;
    aspect-ratio: 1 / 1;
    border-radius: 9vw;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}

#img-balao {
    width: 2.9vw;
    position: relative;
    top: 2.2vh;
}



main {
    border: 0px solid black;
    position: relative;
    top: -20vh;
    height: 31vw;

}

#whatsapp1 {
    position: relative;
    top: -1vh;
    left: 6vw;
    font-family: "Oswald", sans-serif;
    font-size: 2.3vw;
    color: green;
    font-weight: 700;
    text-shadow:
        0 0 5px #39b807,

}
#icone-whatsapp1 {
    font-size: 3vw;

    color: green;
    position: relative;

    top: 0vh;
}

#carro {
    width: 49vh;
    position: relative;
    left: 2vw;
    top: -4vh;
}

#div-leva-e-traz {
    font-family: "Oswald", sans-serif;
    font-size: 2vw;
    position: relative;
    border: 0px solid black;
    left: 7vw;
    font-weight: 500;
    width: 10vw;
    text-align: center;
    color: #fdfdff;
    text-shadow:

        0 0 15px #fff,
        0 0 20px #fff;
}

#fundocomtv {
    position: relative;
    top:-44vh;
    width: 48vw;

    left: 25vw;

}

h2 {
    position: relative;
    top: -6.7vh;
    left: 37.5vw;
    z-index: 9999;
    font-family: "Oswald", sans-serif;
    text-shadow: 0 0 10px #6354ee;
    font-size: calc(1.2vw + 1.2vh);
    color: rgb(206, 204, 202);
    width: calc(20vw + 10vh);
    font-weight: 400;
    text-align: center;
}

#div-laudos-tecnicos {
    text-align: center;
    position: relative;
    left: 80vw;
    top: -65vh;
    border:0px solid black;
    font-weight: 700;
    font-size: 2.8vw;
    width: 10vw;
    background-color: rgb(255, 255, 255);
    color: rgb(73, 126, 241);

    font-family: "Oswald", sans-serif;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#lupa {
    width: 5vw;
    position: relative;
    left: 74vw;
    top: -77vh;
    border:0px solid black;
}

footer {
    position: relative;
    top: -44.5vh;
    left: 5vw;
    background-color: rgb(209, 209, 209);
    border: 0px solid black;
    width: 90vw;
    height: 37%;
}

.img-cards {
    position: relative;
    top: 0.5vw;

}

.cards {

    position: relative;
    float: left;
    left: 0vw;
    top: 0.4vw;
    width: 16.3vw;
    height: 20vw;
    margin-left: 1vw;
    text-align: center;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

h3 {
    font-family: "Oswald", sans-serif;
    font-size: 1.4vw;
    position: relative;
    top: -1vw;
}

.card-descricao {
    text-align: justify;
    hyphens: auto;
    font-size: 1.35vw;
    font-family: "Oswald", sans-serif;
    width: 15.5vw;
    position: relative;
    left: 0.4vw;
    top: -2.2vw;

}

#card1 {
    left: 0.2vw;
}

#card2 {
    left: 0.7vw;
}

#card3 {
    left: 1.3vw;
}

#card4 {
    left: 1.8vw;
}

#card5 {
    left: 2.5vw;
}

#card-img1 {
    width: 7vw;
}

#card-img2 {
    width: 2vw;
    height: 5vw;
}

#card-img3 {
    width: 6.5vw;
}